@import url("base.css");

/* Inicio */
header {
    width: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 0, 0, 0)), url('/IMG/HeaderBackground.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;

    padding: 40px 80px;
    object-fit: cover;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-inicio {
    height: 600px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    color: var(--branco);
}

.header-elements img {
    width: 100%;
    max-height: 700px;
    animation: moving 3s ease-in-out infinite;
}

@keyframes moving {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(1deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

.container-inicio-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.container-inicio h1 {
    font-family: "TAM", sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-align: start;
    width: 600px;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px var(--preto);
}

.container-inicio h1 span {
    color: var(--vermelhoPadrao);
}

.container-inicio p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: start;
    text-transform: uppercase;
    width: 500px;
    border-left: solid 3px var(--vermelhoPadrao);
    text-shadow: 1px 1px 15px var(--preto);
    padding-left: 30px;
}

.container-inicio-button button {
    padding: 10px 20px;
    background: var(--gradienteVermelho);
    color: var(--branco);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    transition: 300ms;
}

.container-inicio-button img {
    width: 30px;
}

.container-inicio-button button:hover {
    transform: scale(0.95);
}

/* O Problema */
.problem {
    width: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
        url('/IMG/BackgroundProblem.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 40px 80px;
}

.problem h1 {
    font-family: "TAM", sans-serif;
    color: var(--branco);
    font-weight: 900;
    font-size: 40px;
    text-align: start;
    width: 600px;
    text-transform: uppercase;
}

.container-problem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.problem-elements img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    animation: moving 3s ease-in-out infinite;
}

.problem-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.problem-text h1 {
    font-family: "TAM", sans-serif;
    color: var(--vermelhoPadrao);
    font-weight: 900;
    font-size: 30px;
    text-align: start;
    width: 500px;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px var(--preto);
}

.problem-text p {
    font-family: "Montserrat", sans-serif;
    color: var(--vermelhoPadrao);
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;

    text-align: start;
    width: 500px;
    text-shadow: 1px 1px 15px var(--preto);
}

.problem-text div p {
    font-family: "Montserrat", sans-serif;
    color: var(--branco);
    font-weight: 300;
    font-size: 18px;
    text-transform: none;
    text-align: start;
    width: 500px;
    text-shadow: 1px 1px 15px var(--preto);
}

.problem-text p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.problem-text p img {
    width: 20px;
}

/* A Solução */

.soluctions {
    width: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0)),
        linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0)),
        url('/IMG/HeaderBackground.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 40px 80px;
}

.soluctions h1 {
    font-family: "TAM", sans-serif;
    color: var(--branco);
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.soluctions p {
    font-family: "Montserrat", sans-serif;
    color: var(--branco);
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.container-soluctions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.item-soluctions {
    background: var(--branco);
    border-radius: 40px;
    padding: 20px;
    box-shadow: var(--shadowVermelha);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    transition: 300ms;
}

.item-soluctions:hover {
    transform: scale(1.05) rotate(1deg);
}

.item-soluctions img {
    width: 100px;
    background: var(--gradienteVermelho);
    padding: 15px;
    border-radius: 20px;
}

.item-soluctions h1 {
    font-family: "TAM", sans-serif;
    color: var(--preto);
    font-weight: 900;
    font-size: 25px;
    text-align: start;
    text-transform: uppercase;
}

.item-soluctions p {
    font-family: "Montserrat", sans-serif;
    color: var(--preto);
    font-weight: 400;
    font-size: 16px;
    text-align: start;
    margin-bottom: 0px;
}

.soluctions-cta {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.soluctions-cta p {
    font-family: "Montserrat", sans-serif;
    color: var(--branco);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.soluctions-cta button {
    padding: 15px 30px;
    background: var(--gradienteVermelho);
    color: var(--branco);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    transition: 300ms;
}

.soluctions-cta button:hover {
    transform: scale(0.95);
}

.soluctions-cta button img {
    width: 30px;
}

/* Aprender */

.aprender {
    width: 100%;
    background: var(--preto);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 40px 80px;
}

.aprender h1 {
    font-family: "TAM", sans-serif;
    color: var(--branco);
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}

.carousel-fade {
    position: relative;
}

/* fade base */
.carousel-fade::before,
.carousel-fade::after {
    content: "";
    position: absolute;
    top: 0;
    width: 120px;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    transition: 0.3s ease;
}

/* esquerda */
.carousel-fade::before {
    left: 0;
    background: linear-gradient(to right, #000 0%, transparent 100%);
    backdrop-filter: blur(8px);
}

/* direita */
.carousel-fade::after {
    right: 0;
    background: linear-gradient(to left, #000 0%, transparent 100%);
    backdrop-filter: blur(8px);
}

/* ESCONDER nas bordas */
.carousel-fade.hide-left::before {
    opacity: 0;
}

.carousel-fade.hide-right::after {
    opacity: 0;
}

.carousel-fade::before,
.carousel-fade::after {
    backdrop-filter: blur(8px);
}

.carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px;
    scrollbar-width: none;

    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 260px;
    height: 360px;
    background: #111;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    scroll-snap-align: center;
    transition: 0.4s ease;
    flex-shrink: 0;
}

.card.active {
    min-width: 320px;
    height: 420px;
}

.card img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.tag {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(0, 0, 0, 0.5);
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
}

.card h3 {
    font-family: 'TAM', sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: #fff;
    font-size: 20px;
}

.card p {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: #ddd;
    font-size: 12px;
}

.carousel-indicator {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.carousel-indicator span {
    width: 30px;
    height: 4px;
    background: #ccc;
    border-radius: 2px;
    transition: 0.3s;
}

.carousel-indicator span.active {
    background: var(--vermelhoPadrao);
}

/* Como funciona o método */

.como-funciona {
    width: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0)),
        linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0)),
        url('/IMG/HeaderBackground.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 40px 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.como-funciona-img {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.como-funciona-img h1 {
    font-family: "TAM", sans-serif;
    color: var(--branco);
    font-weight: 900;
    font-size: 30px;
    text-align: start;
    width: 500px;
    text-transform: uppercase;
}

.como-funciona-img img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.como-funciona-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.como-funciona-text h3 {
    font-family: "TAM", sans-serif;
    color: var(--vermelhoPadrao);
    font-weight: 900;
    font-size: 30px;
    text-align: start;
    width: 500px;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px var(--preto);
}

.como-funciona-text img {
    width: 35px;
    margin-right: 10px;
}

.como-funciona-text .como-funciona-item p {
    font-family: "Montserrat", sans-serif;
    color: var(--branco);
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    text-align: start;
    width: 500px;
    text-shadow: 1px 1px 15px var(--preto);
}

.como-funciona-text p {
    font-family: "Montserrat", sans-serif;
    color: var(--vermelhoPadrao);
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    text-align: start;
    width: 500px;
    text-shadow: 1px 1px 15px var(--preto);
}

.como-funciona-text p span {
    background: var(--gradienteVermelho);
    color: var(--branco);
    font-weight: 600;
}

/* Who */

.who {
    width: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
        url('/IMG/BackgroundProblem.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 40px 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.who h1 {
    font-family: "TAM", sans-serif;
    color: var(--branco);
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.container-who {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    max-width: 1200px;
    gap: 40px;
}

.who-item {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 40px;
    max-width: 300px;
    height: 300px;
    background: var(--gradienteVermelho);
    box-shadow: var(--shadowVermelha);
}

.who-persona {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 300px;
    color: var(--branco);
}

.who-persona h3 {
    font-family: "TAM", sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}

.who-item p {
    font-family: "Montserrat", sans-serif;
    color: var(--branco);
    font-weight: 300;
    font-size: 16px;
    text-align: start;
}

.who-persona img {
    width: 100%;
    max-width: 50px;
    border-radius: 100%;
}

/* CTA / Footer */
.cta-footer {
    width: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
        linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
        url('/IMG/HeaderBackground.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 80px;
    gap: 20px;
    max-width: 900px;
}

.cta h1 {
    font-family: "TAM", sans-serif;
    color: var(--branco);
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.cta p {
    font-family: "Montserrat", sans-serif;
    color: var(--branco);
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.cta button {
    padding: 15px 30px;
    background: var(--gradienteVermelho);
    color: var(--branco);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    transition: 300ms;
}

.cta button:hover {
    transform: scale(0.95);
}

.cta button img {
    width: 30px;
}

/* Medias Query's */

@media (max-width: 1200px) {

    /* Inicio */
    header {
        padding: 20px 40px;
    }

    .container-header {
        flex-direction: column;
        gap: 0px;
    }

    .container-inicio {
        margin-top: 40px;
        height: auto;
        gap: 20px;
    }

    .container-inicio h1 {
        width: 100%;
        font-size: 30px;
    }

    .container-inicio p {
        width: 100%;
        font-size: 16px;
        padding-left: 20px;
    }

    /* O Problema */

    .problem {
        padding: 20px 40px;
    }

    .problem h1 {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }

    .container-problem {
        flex-direction: column;
        gap: 20px;
    }

    .problem-text h1 {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    .problem-text p {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    /* A Solução */

    .soluctions {
        padding: 20px 40px;
    }

    .soluctions h1 {
        width: 100%;
        font-size: 30px;
    }

    .soluctions p {
        width: 100%;
        font-size: 16px;
    }

    .container-soluctions {
        flex-direction: column;
        gap: 20px;
    }

    .item-soluctions {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    /* Aprender */

    .aprender {
        padding: 20px 40px;
    }

    .aprender h1 {
        width: 100%;
        font-size: 30px;
    }

    /* Como funciona */

    .como-funciona {
        padding: 20px 40px;
        flex-direction: column;
    }

    .como-funciona h1 {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }

    .como-funciona-text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .como-funciona-text h3 {
        width: 100%;
        font-size: 20px;
    }

    .como-funciona-text p {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    /* Who */

    .who {
        padding: 20px 40px;
    }

    .who h1 {
        width: 100%;
        font-size: 30px;
    }

    .container-who {
        gap: 20px;
    }
}

@media (max-width: 750px) {

    .item-soluctions {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    /* fade base */
    .carousel-fade::before,
    .carousel-fade::after {
        display: none;
    }

    /* esquerda */
    .carousel-fade::before {
        display: none;
    }

    /* direita */
    .carousel-fade::after {
        display: none;
    }
}

