@import url("base.css");

/* Inicio */
header{
    background-image: url('/IMG/HeaderBackground.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;

    padding: 40px 80px;
    object-fit: cover;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-inicio{
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    color: var(--branco);

    animation: fadeUP linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.header-elements img{
    width: 100%;
    max-height: 1000px;
    
    animation: fadeUP linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.container-inicio-text{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: 50px;
    gap: 20px;
}

.container-inicio h1{
    font-family: "TAM", sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-align: start;
    width: 600px;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px var(--preto);
}

.container-inicio h1 span{
    color: var(--vermelhoPadrao);
}

.container-inicio p{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: start;
    text-transform: uppercase;
    width: 500px;
    border-left: solid 3px var(--vermelhoPadrao);
    text-shadow: 1px 1px 15px var(--preto);
    padding-left: 30px;
}

.container-inicio-button button{
    padding: 10px 20px;
    background: var(--gradienteVermelho);
    color: var(--branco);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    margin-left: 50px;
    transition: 300ms;
}

.container-inicio-button img{
    width: 30px;
}

.container-inicio-button button:hover{
    transform: scale(0.95);
}

/* O Problema */
.problem{
    padding: 40px 80px;
    height: 100vh;
}